html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 30px;
    font-size: 3rem;
    position: relative;
    padding: 1.5rem;
    text-align: center;
}

h1 span {
    font-size: 18px;
    font-size: 1.8rem;
}